@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/scroll.css");

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap'); */


:root{
    --backColor: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9800;
    --blueGradient:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body{
    background-color: var(--backColor);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

