@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/scroll.css");
@import url("./styles/topics.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");


:root{
    --backColor: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9800;
    --blueGradient:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --blue: #002F52;
    --fontPrimary: "Poppins";
    --fontSecundary: "Josefin Sans";
    --black: #000000;
    --grey: #474646;
    --lightGrey: #858585;
}

body{
    background-color: var(--backColor);
    font-family: var(--fontPrimary);
    font-size: 16px;
    font-weight: 400;
}

