.banner{
    background: var(--blueGradient);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.bannerTitle{
    font-size: 18px;
    font-weight: 700;
}

.bannerText{
    font-weight: 500;
    margin: 1em 0;
}

.bannerSearch{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.bannerSearch::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: url('../assets/icons/Vector.svg') no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px){

    .bannerTitle{
        font-size: 36px;
    }

    .bannerSearch{
        width: 50%;
    }

    .bannerSearch::placeholder{
        position: 7em;
    }
}

@media screen and (min-width: 1728px){

    .bannerSearch{
        width: 35%;
    }

    .bannerSearch::placeholder{
        background-position: 10em;
    }

    .banner{
        padding: 6em 0;
    }
    
}