
.navMenu{
   width: 24px;
   height: 24px;
   background-image: url("../assets/icons/Menu.svg");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
}

.containerButton:checked~.containerLabel>.navMenu{
   background-image: url("../assets/icons/menu_white.svg");
}

.containerButton:checked~.containerLabel{
   background: var(--blueGradient);
}

.navHeader{
   background-color: var(--white);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.container{
   display: flex;
   align-items: center;
}

.containerImage{
   padding: 1em;
}

.listMenu{
   display: none;
   position: absolute;
   top: 100%;
   width: 60vw;
}

.containerButton:checked~.listMenu{
   display: block;
}

.listMenuTitle, .listMenuItem{
   padding: 1em;
   background-color: var(--white);
}

.listMenuTitle{
   color: var(--orange);
   font-weight: 700;
}

.listMenuLink{
   color: var(--blueGradient);
   text-decoration: none;
   list-style-type: none;
   text-transform: uppercase;
}

.containerButton{
   display: none;
}

.containerTitle{
   display: none;
}

.options{
   display: none;
}

.containerText{
   display: none;
}

@media screen and (min-width: 1024px){

   .containerTitle, .containerTitleBold{
      font-family: var(--fontSecundary);
      font-size: 30px;
   }

   .containerTitle{
      font-weight: 400;
      display: block;
   }

   .containerTitleBold{
      font-weight: 700;
   }

   .options{
      display: flex;
   }

   .optionsItem{
      padding: 0 1em;
      text-transform: uppercase;
   }

   .optionsLink{
      text-decoration: none;
      color: var(--black);
   }

   .containerImageNone{
      display: none;
   }

   .navMenu{
      display: none;
   }

   .optionsButton:checked~.listMenu{
      display: block;
      width: auto;
   }

   .optionsButton{
      display: none;
   }
  
   .optionsButton:checked~.optionsLabel>.optionsItem{
      background: var(--blueGradient);
      color: var(--white);
   }

   .optionsItem{
      padding: 2em 1em;
      display: flex;
      align-items: center;
   }

   .listMenuItem:hover{
      background: var(--blueGradient);
   }
      
   .listMenuItem:hover>.listMenuLink {
      -webkit-text-fill-color: var(--white);
      text-decoration: none;
   }
}

@media screen and (min-width: 1728px){

   .containerLink{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--black);
   }

   .navHeader{
      padding: 0 2em;
   }

   .options{
      margin-right: auto;
   }

   .containerText{
      display: block;
   }
}